@media screen and (max-width: 1075px){
    .QAContainer{
        width:90%;
        height: 125%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media screen and (min-width: 1075px){
    
    .QAContainer{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        width:35%;
        height: 100vh;
        background-color: #252525;
    }

}