.qabox {
    width: 100%;
    height: 7.5%;
    background-color: #363636;
    color: #EEEEEE;
    align-content: center;
    padding-top: auto;
    display: flex;
}

.answerbox{
    width: 50%;
    margin-top: 0;
}

.qaboxText{
    font-size: 2em;
    width: 50%;
}

.qabox-radios{
    width: 5%;
}